<!doctype html>
<html>
<body>
    <form>
        <label data-bind="with: board">
            Board:
            <span data-bind="text: name"></span>
        </label>
        <div data-bind="with: pin">
            <img style="max-height:300px" data-bind="attr: { src: src }" />
            <select data-bind="options: relatedSites, visible: relatedSites.length > 1, value: selectedSite, optionsText: 'title'"></select>
            <div data-bind="with: selectedSite">
                <label>
                    Associated Link
                    <input type="text" name="name" data-bind="value:url" placeholder="Link to the Website you want to pin" />
                </label>
                <label>
                    Title
                    <input type="text" name="name" data-bind="value:title" placeholder="Title" />
                </label>
                <label>
                    Description
                    <textarea name="name" data-bind="value: description" placeholder="Description"></textarea>
                </label>
                <div class="button horizontal-stretch" data-bind="click: $root.onFinish">Send</div>
            </div>
        </div>
    </form>
</body>
</html>